@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));



@layer utilities {
    .text-gradient-brand {
        @apply bg-clip-text text-transparent
        bg-gradient-to-r  from-indigo-500 via-purple-400 to-pink-500
        dark:from-yellow-200 dark:via-orange-400 dark:to-pink-400;
    }

    .text-gradient-inverse {
        @apply bg-clip-text text-transparent
        bg-gradient-to-r from-yellow-200 via-orange-400 to-pink-400
        dark:from-indigo-500 dark:via-purple-400 dark:to-pink-500;

    }

    .animate-gradient {
        animation: gradient 10s ease infinite;
        background-size: 400% 400%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}